$primary-blue: #273D89;
$secondary-blue: #112053;
$primary-red: #DB0D15;
$secondary-red: #9D0006;
$gray: #676A73;
$stroke: #ACB1C6;
$secondary-stroke: #E9F4F8;

$green: #A8B95E;
$orange: #DE8536;
$dark-gray: #2A2C31;
$light-blue: #C6ECFF;

$cream: #FBF6E3;
$turquoise: #00C3D0;
$navy: #081542;

$white: #FFFFFF;
$light-white: #F6F8FF;
$white-smoke: #DAEFFF;
$light-gray: #72727281;
$background-gray: #2B3016;

$footer-bg: #161F3C;
$notfound-bg: #242424;