@use './notfound/notfound.scss' as notfound;
@use './header/header.scss' as header;
@use './footer/footer.scss' as footer;
@use './homepage/landing-page.scss' as landingpage;
@use './homepage/features.scss' as features;
@use './homepage/magazines.scss' as magazines;
@use './homepage/article.scss' as article;
@use './homepage/current-articles.scss' as currentarticles;