@use '../colors' as *;

.article-section {
    margin: 0 120px 150px 120px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width:750px) {
        margin: 0 20px 150px 20px;
        justify-content: center !important;
    }

    .magazine {
        @media (max-width:550px) {
            width: 75%;
            height: auto;
        }
    }


    .article-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 10px;

        img {
            width: 38px;
            height: 38px;
        }

        h5 {
            margin: 0 0 10px 0;
            font-size: 22px;
            color: $gray;
        }

        h2 {
            margin: 0 0 20px 0;
            font-size: 28px;
            color: $primary-blue;
            max-width: 570px;
        }

        p {
            margin: 0 0 30px 0;
            font-size: 18px;
            color: $dark-gray;
            max-width: 550px;
        }

        a {
            display: flex;
            align-items: center;
            font-size: 18px;
            color: $white;
            background-color: $primary-red;
            text-decoration: none;
            padding: 16.5px 15px;
            border-radius: 30px;
            transition: all 0.2s ease;

            img {
                margin-left: 30px;
                width: 16px;
                height: 16px;
            }

            &:hover {
                background-color: $secondary-red;
            }
        }
    }

    .info {
        @media (min-width:1679px) {
            margin-top: -80px;
        }

        @media (max-width:550px) {
            width: 75%;
            height: auto;
        }
    }
}