@use '../colors' as *;

.footer-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $footer-bg;
    padding: 0 140px;

    @media (max-width:500px) {
        padding: 0 10px;

    }

    .footer-items {
        display: flex;
        justify-content: space-between;
        padding: 60px 0 40px 0;
        border-bottom: 1px solid $stroke;
        flex-wrap: wrap;
        gap: 50px;
    }

    .footer-item {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        flex-wrap: wrap;

        img {
            width: 20px;
            height: 20px;
            padding: 19px;
            border: 1px solid $stroke !important;
            border-radius: 50px;
            transition: all 0.3s ease;

            &:hover {
                background-color: $light-gray;
            }
        }

        &-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
            max-width: 350px;

            img {
                width: 15px;
                height: 15px;
                border: none !important;
                padding: 0 !important;
                object-fit: scale-down;
            }
        }
    }

    .footer-disclaimer {
        font-size: 15px;
        text-align: center;
        padding: 40px 0;
    }
}

.footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: $primary-red;
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
    height: 15px;
}