@use '../colors' as *;

.header {
    display: flex;
    width: 100%;
    background-color: $white;

    &__logo {
        background-color: $primary-blue;
        padding: 21px 66px 21px 32px;
        border-radius: 0 120px 0 0;
        width: 227px;
        height: 91px;

        img {
            width: 100%;
            height: 91px;
        }
    }

    &__logo-mobile {
        background-color: $primary-blue;
        padding: 21px 66px 21px 32px;
        border-radius: 0 120px 0 0;
        width: 59%;
        height: 91px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 168px;
            height: 119px;
        }
    }

    &__container {
        width: 100%;
        margin-left: -25px;
    }

    &__topbar {
        position: relative;
        height: 44px;
        background-color: $secondary-blue;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 63px 0 48px;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            left: -18px;
            top: 50%;
            transform: translateY(-50%);
            width: 50px;
            height: 50px;
            background-color: $white;
            border-radius: 0 100% 0 0;
        }

        &-mail {
            display: flex;
            color: $white;
            z-index: 1;

            img {
                width: 24px;
                height: 24px;
                margin-right: 14px;
            }

            &:hover {
                color: $light-blue;

                img {
                    filter: brightness(0) invert(1) sepia(1) saturate(5) hue-rotate(190deg) brightness(0.8);
                }
            }
        }

        &-right {
            display: flex;
            align-items: center;
            gap: 20px;

            span {
                font-size: 16px;
                color: $white;
            }
        }
    }

    &__navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0 0 50px;
        height: 89px;

        &-home {
            img {
                width: 24px;
                height: 21px;

                &:hover {
                    filter: brightness(0) invert(1) sepia(1) saturate(5) hue-rotate(190deg) brightness(0.8);
                }
            }
        }

        &-hamburger {
            display: none;
            flex-direction: column;
            justify-content: space-around;
            width: 30px;
            height: 25px;
            background: transparent;
            border: none;
            cursor: pointer;
            padding: 0;
            z-index: 1001;

            span {
                width: 30px;
                height: 3px;
                background-color: $dark-gray;
                border-radius: 10px;
                transition: all 0.3s ease;
            }

            &.active {
                span:nth-child(1) {
                    transform: rotate(45deg) translate(8px, 5px);
                }

                span:nth-child(2) {
                    opacity: 0;
                }

                span:nth-child(3) {
                    transform: rotate(-45deg) translate(7px, -5px);
                }
            }
        }

        &-list {
            display: flex;
            gap: 25px;
            flex-direction: row;
            padding: 0;

            li {
                a {
                    font-size: 16px;
                    font-weight: 500;
                    color: $dark-gray;
                    cursor: pointer;

                    &:hover {
                        color: $gray;
                    }
                }
            }
        }

        &-buttons {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-right: 10px;

            &-globe {
                background-color: $primary-blue;
                border-radius: 50px;
                color: $white;
                padding: 13px 10px;
                align-items: center;
                display: flex;
                flex-direction: row;
                font-size: 16px;

                img {
                    width: 25px;
                    height: 22px;
                    margin-right: 10px;
                }

                &:hover {
                    background-color: $secondary-blue;
                    color: $white;

                    img {
                        filter: brightness(0) invert(1) sepia(1) saturate(5) hue-rotate(190deg) brightness(0.8);
                    }
                }
            }

            &-edit {
                background-color: $green;
                border-radius: 50px;
                color: $white;
                padding: 13px 10px;
                align-items: center;
                display: flex;
                flex-direction: row;
                font-size: 16px;

                img {
                    width: 25px;
                    height: 22px;
                    margin-right: 10px;
                }

                &:hover {
                    background-color: $background-gray;
                    color: $white;

                    img {
                        filter: brightness(0) invert(1) sepia(1) saturate(5) hue-rotate(190deg) brightness(0.8);
                    }
                }
            }

            &-search {
                border: 1px solid $dark-gray;
                padding: 15px;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 17px;
                    height: 17px;
                }

                &:hover {
                    filter: brightness(0) invert(1) sepia(1) saturate(5) hue-rotate(190deg) brightness(0.8);
                }

                &-padding {
                    padding: 10px 13px;
                    border-radius: 50px;
                }
            }
        }
    }

    &__mobile-menu {
        display: none;
        position: fixed;
        top: 0;
        left: -100%;
        width: 60%;
        height: 100vh;
        background-color: $white;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
        transition: left 0.3s ease;
        z-index: 1000;
        overflow-y: auto;
        padding: 30px 30px 30px;

        &.open {
            left: 0;
        }

        &-list {
            list-style: none;
            padding: 0;
            margin: 30px 0 30px 0;

            li {
                margin-bottom: 20px;

                a {
                    font-size: 18px;
                    font-weight: 500;
                    color: $dark-gray;
                    display: block;
                    padding: 10px 0;

                    &:hover {
                        color: $primary-blue;
                    }
                }
            }
        }

        &-buttons {
            display: flex;
            flex-direction: column;
            gap: 15px;

            a {
                justify-content: center;
                width: 80%;
            }
        }
    }

    @media (max-width: 1200px) {

        &__logo {
            display: none;
        }

        &__container {
            margin-left: 0;
            width: 100%;
        }

        &__topbar {
            display: none;
        }

        &__navbar {
            padding: 15px 20px;
            height: auto;
            justify-content: space-between;
            margin-left: 0;

            &-hamburger {
                display: flex;
            }

            &-list {
                display: none;
            }

            &-buttons {
                display: none;
            }
        }

        &__mobile-menu {
            display: block;
        }
    }
}