:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}